[Unit]
Description=Restart makima after suspend/resume
BindsTo=makima.service
After=makima.service

[Service]
ExecStart=%h/.local/bin/makima-resume-watcher
Restart=always
RestartSec=5

[Install]
WantedBy=makima.service
